@font-face {
  font-family: 'Colo-Pro';
  src: url('../../fonts/Colo-Pro-Black.otf') format('opentype');
}

body {
    background: #0514b0;
    background: linear-gradient(180deg,#004AAD 0%, #CB6CE6 89%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    height: 90vh;
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:  space-between;

}

.container a {
    cursor: pointer;
    color: #ffe560;
    text-decoration: underline;
}


.container h1{
    font-family: 'Colo-Pro';
    font-size: 30px;
    line-height: 0.8;
    color: #ffe560;
    text-shadow:
            0 0 8px #FED501,
            0 0 2px rgba(255, 255, 102, 0.4),
            0 0 4px rgba(255, 255, 102, 0.2);         
}


.container h1 span {
    
    margin-left: 30px;
}

.container img {
    height: 200px;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.container form input, .container form button {
    font-family: 'Poppins';
    border: none;
    border-radius: 30px;
    width: 200px;
    height: 40px;
}

.container form input {
    padding: 0 10px;
    font-size: 16px;
    
}

.container form button {

    background-color: #ffe560;

    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: 700;
    transition: .5s;
}

.container form button:hover {
    transform: scale(1.05);
}