

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 1000;
    box-shadow: 2px 8px 58px -9px rgba(0,0,0,0.62);
    -webkit-box-shadow: 2px 8px 58px -9px rgba(0,0,0,0.62);
    -moz-box-shadow: 2px 8px 58px -9px rgba(0,0,0,0.62);

    background: #0514b0;
    background: linear-gradient(95deg,#004AAD 0%, #CB6CE6 89%);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;

}

header .container .logo {
    height: 90px;
}


header .container span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header .container span div {
    color: white;
    display: flex;
}

header .container span div p {
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

header .container span .perfil {
    height: 40px;
}



header nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

header nav input {
    margin: 10px 0;
    border: none;
    border-radius: 30px;
    padding-bottom:10px;
    height: 30px;
    width: 70%;


}

/*bodys*/




.inicial {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 30px;
    gap: 10px;
    
}

.inicial h4 {
    margin: 0;
    color: #8E6BD5;
    font-weight: 800;
    font-size: 16px;
    align-self: self-start;
}

.inicial .container {

    display: flex;
    flex-direction: column;
    align-items: center;
}

.inicial .container .carousels {
    width: 320px;
}

.inicial .container .carousels img{
    border-radius: 30px;
    height: 220px;

}

.inicial .atalhos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
}

.inicial .atalhos .texts {
    display: flex;
    justify-content: space-between;
    
}

.inicial .atalhos .texts p {
    font-size: 13px;
    font-weight: 800;
    color: rgb(110, 110, 110);
    margin: 10px 0;
}

.inicial .atalhos .btns {
    display: flex;
    justify-content: space-between;
}

.inicial .atalhos button {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;

    box-shadow: 1px 14px 20px -9px rgba(0,0,0,0.52);
    -webkit-box-shadow: 1px 14px 20px -9px rgba(0,0,0,0.52);
    -moz-box-shadow: 1px 14px 20px -9px rgba(0,0,0,0.52);

    background: #0514b0;
    background: linear-gradient(95deg,#004AAD 0%, #CB6CE6 89%);
}

.inicial .atalhos button img {

    height: 60px;
    margin-bottom: 5px;
}

.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
    gap: 10px;
}

.produtos .container h4 {
    margin: 0;
    color: #8E6BD5;
    font-weight: 800;
    font-size: 16px;
    align-self: self-start;
}

.produtos .container p {
    margin: 0;
    color: #808080;
    font-weight: 700;
    font-size: 14px;
    align-self: self-start;
}

.produtos .container .itens .carousel {
    margin-top: 20px;
    height: 170px;
}

.produtos .container .itens .carousel .item h6 {
    color: #7e7e7e;
    font-size: 12px;
    font-weight: bold;
}

.produtos .container .itens .carousel .item p {
    color: #58be58;
}

.produtos .container .itens .carousel .item img {
    border-radius: 20px;
    height: 100px;
    width: 150px;
}

.lojas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    padding: 20px;
    gap: 10px;
}

.lojas .container h4 {
    margin: 0;
    margin-bottom: 100px;
    color: #8E6BD5;
    font-weight: 800;
    font-size: 20px;
    align-self: self-start;

}


.lojas .container .loja {
    display: flex;
    align-items: center;
    
}
.lojas .container .loja img {
    height: 100px;
}
.lojas .container .loja .text h5 {
    margin: 0;
    color: #808080;
    font-weight: 700;
    font-size: 20px;
    
}

.lojas .container .loja .text p {
    font-weight: 900;
    color: red;
}

.lojas .container .loja .text i {
    color: rgb(255, 221, 69);
}


.carousel-control-prev, .carousel-control-next {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: #8E6BD5 !important;
    opacity: 1 !important;
    border-radius: 100px;
    width: 50px;
    height: 50px;
    margin: 0 -20px;
}


.footer {
    position: fixed;
    top: 92%;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    background: #0514b0;
    background: linear-gradient(95deg,#004AAD 0%, #CB6CE6 89%);
    height: 80px;
    width: 100%;
}

.footer img {
    height: 28px;
}